.first-block {
    position: relative;
    margin-top: 72px;
}

.first-block img {
    width: 100%;
    min-height: 674px;
}

.first-block .first-plane {
    position: absolute;
    top: 0px;
    width: 1128px;
    height: 100%;
    margin: 0 calc((100vw - 1128px) /2);
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    padding: 7vw 190px 0;
}

.first-block .first-plane .title {
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    color: #FFFFFF;
    margin-bottom: 40px;
}

.first-block .first-plane .desc {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
}

.contact-form {
    /* height: 268px; */
    background-color: #FAFAFC;
    position: relative;
}

.contact-form .contact-card {
    width: 1128px;
    height: 415px;
    background: #FFFFFF;
    border-radius: 16px;
    position: absolute;
    top: -28vw;
    margin: 0 calc((100vw - 1128px) /2);
    display: flex;
    padding: 88px 100px;
    justify-content: space-between;
}

.contact-form .contact-card .left {
    width: 263px;
    height: 200px;
}

.contact-form .contact-card .right {
    width: 552px;
    height: 239px;
}

.contact-form .contact-card .layout {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
}

.contact-form .layout .layout-left,
.contact-form .layout .layout-right {
    width: 264px;

}

.right .label {
    display: inline-block;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #1EBF6C;
    margin-bottom: 8px;
}

.right .label::before {
    content: '*';
    display: inline-block;
    color: #D4380D;
}

.right .contect-submit {
    width: 310px;
    border-radius: 16px;
    padding: 8px 16px;
    font-size: 20px;
    line-height: 24px;
    margin-top: 40px;
}

.contact-card .left .title {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #969696;
    margin-bottom: 6px;
}

.contact-card .left .detail {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #323232;
    margin-bottom: 16px;
}

.first-block-m {
    margin-top: 60px;
    position: relative;
}

.first-block-m img {
    width: 100%;
}

.first-block-m .text-desc {
    position: absolute;
    width: 100%;
    top: 128px;
    padding: 0 32px;
}

.first-block-m .text-desc .desc-title {
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.first-block-m .text-desc .desc-desc {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #FFFFFF;
}

.m-right {
    width: calc(100% - 32px);
    margin: 0 16px;
    background: #F7F7F7;
    padding: 40px 16px;
    border-radius: 24px;
    position: relative;
    top: -180px;
    margin-bottom: -144px;
}
.m-right .input-item{
    margin-bottom: 16px;
}
.m-right .contect-submit{
    margin-top: 16px;
}